---
import Button from "./Button.astro"
---

<section class="card">
  <img
    src="https://i.pinimg.com/webp85/1200x/b2/c4/88/b2c48829ef6b025247e8154e7e39a44c.webp"
    alt="Blazer"
  />

  <div class="content">
    <p class="brand">KENZO</p>
    <h2>Kenzo Homme Brown and Beige Cotton Sport Jacket Blazer</h2>
    <p class="price">DKK 649,-</p>

 <section class="button-test">
   <Button
  size="52 (L)"
  text="ADD TO BAG"
  variant="light"
/> 
    </div>
  </div>
</section>

<style>
  .card {
    width: 349px;
    background: white;
  }

  .card img {
    width: 100%;
    height: 423px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .content {
    padding: 10px 0 0;
  }

  .brand {
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    margin: 0 0 10px;
  }

  .content h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 18px;
  }

  .price {
    font-size: 18px;
    margin: 0 0 18px;
  }

  .buttons {
    display: flex;
    gap: 10px;
    height: 43px;
  }

  .buttons button {
    border: 1px solid black;
    background: rgb(255, 255, 255);
    height: 43px;
    cursor: pointer;
    font-size: 14px;
  }

  .size {
    width: 80px;
    background-color: black;
  }

  .cart {
    flex: 1;
  }
</style>
