---

---

<section class="product-section">
  <div class="product-grid">
    <div class="image-bg image-bg-small"></div>

    <div class="image-frame image-frame-main">
      <img src="https://placehold.co/539x813" alt="Beige Blazer" />
    </div>

    <div class="image-frame image-frame-bottom">
      <img src="https://placehold.co/539x813" alt="Beige Blazer" />
    </div>

    <div class="description">
      <span class="dropcap">L</span>
      <p>
        orem ipsum dolor sit amet, consectetur adipiscing edit. Sed do eiusmod
        tempor incididunt ut labore et dolore Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
    </div>

    <div class="product-title">Beige Blazer</div>
    <div class="product-size">Størrelse 52 (L)</div>
    <div class="product-price">DKK 649,-</div>

    <img
      class="image-small"
      src="https://placehold.co/290x437"
      alt="Beige Blazer detail"
    />

    <div class="page-number">09</div>
    <h1 class="headline">BLAZER</h1>

    <button class="add-to-bag">ADD TO BAG</button>
  </div>
</section>

<style>
  .product-section {
    width: 100%;
    height: 100%;
  }

  .product-grid {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .image-bg-small {
    width: 290px;
    height: 437px;
    left: 582px;
    top: 571px;
    position: absolute;
    background: #e2e2e2;
  }

  .image-frame {
    position: absolute;
    background: #e2e2e2;
    overflow: hidden;
  }

  .image-frame-main {
    width: 539px;
    height: 673px;
    left: 0;
    top: 91px;
  }

  .image-frame-main img {
    width: 539px;
    height: 813px;
    left: 0;
    top: -70px;
    position: absolute;
  }

  .image-frame-bottom {
    width: 497px;
    height: 603px;
    left: 42px;
    top: 805px;
  }

  .image-frame-bottom img {
    width: 539px;
    height: 813px;
    left: 0;
    top: -140px;
    position: absolute;
  }

  .description {
    width: 430px;
    left: 613px;
    top: 382px;
    position: absolute;
    color: black;
    font-size: 14px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    line-height: 1.55;
  }

  .description p {
    margin: 0;
  }

  .dropcap {
    float: left;
    font-size: 46px;
    line-height: 0.85;
    margin-right: 5px;
    font-family: "Playfair Display", serif;
  }

  .product-title {
    width: 509px;
    left: 613px;
    top: 169px;
    position: absolute;
    color: black;
    font-size: 32px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
  }

  .product-size {
    left: 613px;
    top: 230px;
    position: absolute;
    color: black;
    font-size: 14px;
    font-family: "Merriweather Sans", sans-serif;
  }

  .product-price {
    width: 313px;
    left: 613px;
    top: 254px;
    position: absolute;
    color: black;
    font-size: 28px;
    font-family: "Playfair Display", serif;
  }

  .image-small {
    width: 290px;
    height: 437px;
    left: 582px;
    top: 571px;
    position: absolute;
  }

  .page-number {
    width: 81px;
    left: 1072px;
    top: 671px;
    position: absolute;
    color: black;
    font-size: 70px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
  }

  .headline {
    left: 0;
    top: 0;
    position: absolute;
    color: black;
    font-size: 64px;
    font-family: "Bodoni 72", serif;
    font-weight: 400;
    margin: 0;
  }

  .add-to-bag {
    width: 463px;
    height: 63px;
    left: 613px;
    top: 313px;
    position: absolute;
    border: 1px solid black;
    background: transparent;
    color: black;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    cursor: pointer;
  }
</style>
